@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@300;400;500;600;700;900&display=swap');

$logo-font: 'Lobster', cursive;
$font: 'Noto Sans', sans-serif;
$background: #B5876D;
$text-color: #FFF5EA;
$light-background: #FF6F00;
$dark-background: #402E32;